.meal {
  margin: 20px 0;
}

.meal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.meal-calories {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 16px;
}

.meal-calories-subtext {
  font-size: .6em;
  line-height: 1em;
}

#new-meal-form input {
  display: block;
}

.optional {
  font-size: .8em;
  font-style: italic;
}

.fab-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
}

.field label {
  width: 60px;
  display: inline-block;
}