.compact-meal {
  margin: 20px 0;
}

#new-meal-form input {
  display: block;
}

.optional {
  font-size: .8em;
  font-style: italic;
}

.fab-button {
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 56px;
  height: 56px;
  border-radius: 9999999px;
  background-color: #FFC107;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}